<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Country Wise
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="../../assets/icon/login/about-us.png" />

  <ion-toolbar>
    <ion-title size="large">About Us</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>Data Which is provided in this app is approximate, It may vary</label>
  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>
      Source of data is from <a href="http://covid19api.com">covid19api.com</a>
    </label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>
      For more detail and information refer to <a
        href="https://en.wikipedia.org/wiki/2019%E2%80%9320_coronavirus_pandemic">Wiki Click</a>
    </label>

  </ion-item>
  <ion-item>
    <ion-icon name="bulb" slot="start" color="primary"></ion-icon>
    <label>
      If you have cough, Headache, Fever, Sneezing and Sore Thorat <a href="tel:1076"> Phone: 1076 </a>
    </label> 

  </ion-item>   


</ion-content>
<ion-footer style="position:unset">
  <ion-grid no-lines>
    <ion-row no-padding no-margin>
      <ion-col col-4 no-padding>
      </ion-col>
      <ion-col col-4 no-padding class="ion-text-center" style="color: grey;font-size: smaller;">
        Version {{localservice.version}}
      </ion-col>
      <ion-col col-4 no-padding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>